{% extends "base.html" %}

{% block title %}Add Course{% endblock %}

{% block content %}
<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="alert-container">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <h1>Add a New Course</h1>
    <form method="post" action="{{ url_for('courses.add_course') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="instructor_id">Instructor:</label>
            <select class="form-select" id="instructor_id" aria-label="Default select example" required>
                <option value="" selected>Choose instructor</option>
                {% for instructor in instructors %}
                    <option value="{{ instructor[0] }}">{{ instructor[1] }}</option>
                {% endfor %}
            </select>
            
        </div>
        <p>
            <input type="file" id="image" name="image" accept="image/*">
        </p>
        <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
</div>
{% endblock %}
